*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#081b29;
    color:white;
}

/* NAVBAR */
header{
    position:fixed;
    width:100%;
    padding:20px 10%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#081b29;
    z-index:1000;
}

.logo{
    font-size:24px;
    font-weight:700;
}
.logo span{
    color:#00abf0;
}

nav a{
    margin-left:25px;
    text-decoration:none;
    color:white;
    font-weight:500;
}

nav a:hover{
    color:#00abf0;
}

.menu-btn{
    display:none;
    font-size:24px;
    cursor:pointer;
}

/* HERO */
.hero{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 10%;
}

.hero-text h1{
    font-size:50px;
}
.hero-text span{
    color:#00abf0;
}

.hero-text p{
    margin:20px 0;
    max-width:500px;
}

.btn{
    background:#00abf0;
    padding:12px 25px;
    color:white;
    text-decoration:none;
    border-radius:6px;
}

.hero-img{
    width:350px;
    height:350px;
    border-radius:50%;
    overflow:hidden;          /* hides the outside parts */
    border:5px solid #00abf0;
}

.hero-img img{
    width:100%;
    height:100%;
    object-fit:cover;         /* crops, not stretch */
    display:block;
}

/* ABOUT */
.about{
    padding:100px 10%;
    display:flex;
    align-items:center;
    gap:50px;
}

.about img{
    width:300px;
    border-radius:15px;
}

.stats{
    display:flex;
    gap:40px;
    margin-top:20px;
}

/* PROJECTS */
.projects{
    padding:100px 10%;
    text-align:center;
}

.project-container{
    display:flex;
    gap:30px;
    margin-top:40px;
}

.card{
    background:#0c2a3f;
    border-radius:12px;
    padding:15px;
    transition:0.3s;
}

.card img{
    width:100%;
    border-radius:10px;
}

.card:hover{
    transform:translateY(-10px);
}

/* SERVICES */
.services{
    padding:100px 10%;
    text-align:center;
}

.service-box{
    display:flex;
    gap:30px;
    margin-top:40px;
}

.service{
    background:#0c2a3f;
    padding:30px;
    border-radius:12px;
}

/* CONTACT */
.contact{
    padding:100px 10%;
    text-align:center;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
    max-width:400px;
    margin:auto;
}

input,textarea{
    padding:12px;
    border:none;
    border-radius:6px;
}

button{
    background:#00abf0;
    border:none;
    padding:12px;
    color:white;
    border-radius:6px;
    cursor:pointer;
}

footer{
    text-align:center;
    padding:20px;
    background:#06131d;
}

/* MOBILE */
@media(max-width:900px){
    .hero{
        flex-direction:column;
        text-align:center;
        margin-top:80px;
    }

    .about{
        flex-direction:column;
    }

    .project-container,
    .service-box{
        flex-direction:column;
    }
}